<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAKRAN VMS Services</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="./public/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./public/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./public/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="./public/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="./public/images/favicons/safari-pinned-tab.svg" color="#71519d">
    <link rel="shortcut icon" href="./public/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="./public/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="./public/css/normalize.css">
    <link rel="stylesheet" href="./public/css/unslider.min.css">
    <link rel="stylesheet" href="./public/css/unslider-dots.css">
    <link rel="stylesheet" href="./public/css/style.css">
    <!-- Recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- META TAGS for Social Media -->
    <!-- Search Engine -->
    <meta name="description" content="Software to connect companies for creating economic value, saving natural resources and enabling communities.">
    <meta name="image" content="./public/images/again-cloud-commerce-company.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="AGAIN | Cloud, Commerce, Company">
    <meta itemprop="description" content="Software to connect companies for creating economic value, saving natural resources and enabling communities.">
    <meta itemprop="image" content="./public/images/again-cloud-commerce-company.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="AGAIN | Cloud, Commerce, Company">
    <meta name="twitter:description" content="Software to connect companies for creating economic value, saving natural resources and enabling communities.">
    <meta name="twitter:site" content="@againbylakran">
    <meta name="twitter:image:src" content="./public/images/screenshot.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="AGAIN | Cloud, Commerce, Company">
    <meta name="og:description" content="Software to connect companies for creating economic value, saving natural resources and enabling communities.">
    <meta name="og:image" content="./public/images/screenshot.png">
    <meta name="og:url" content="http://again.nl">
    <meta name="og:site_name" content="AGAIN | Cloud, Commerce, Company">
    <meta name="fb:admins" content="184172875337875">
    <meta name="og:type" content="website">
</head>
<body>
<nav id="simple-navbar" class="sticky">
    <div class="left-menu">
        <a href="/"><span class="fa fa-arrow-alt-circle-left"></span> Ga terug</a>
    </div>
</nav>

<section id="demo">
    <div class="iframe-container">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiMzI0NGQyMzYtN2FkNS00MjVhLTg0NDEtNzc4NjI3MjVkYWIyIiwidCI6IjA0ZmY1YzFhLThmYjEtNDIxNC1hZTY4LTMzMzkyZjhiZjY3NyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</section>

<script src="./public/js/jquery-3.3.1.min.js"></script>
<script src="./public/js/unslider.min.js"></script>
<script src="./public/js/script.js"></script>
<script>
    // Load Google Maps
    function initMap() {
        var uluru = {lat: 51.987260, lng: 5.908726};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<!-- Cookie Consent -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
"palette": {
    "popup": {
    "background": "#2b2b2b",
    "text": "#f5f5f5"
    },
    "button": {
    "background": "#ffd400",
    "text": "#2b2b2b"
    }
},
"theme": "edgeless",
"content": {
    "message": "Deze websites maakt gebruik van cookies om te zorgen dat jij een optimale ervaring hebt. ",
    "dismiss": "Oké!",
    "link": "Lees meer"
}
})});
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9kvdsBwPUBpm2ek--o_hmg8c2WQ64DyU&callback=initMap"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115566568-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115566568-1');
</script>
</body>
</html>