<section id="reasons">
    <div class="container">
        <div class="title-container">
            <h2 class="section-title">Onze redenen</h2>
        </div>
        <div class="row all-reasons">
            <div class="column why" onclick="selectReason('why')">
                <div class="circle">
                    <span class="fa fa-question-circle"></span>
                </div>
                <div class="block-title">
                    <h4>Why</h4>
                </div>
            </div>
            <div class="column how" onclick="selectReason('how')">
                <div class="circle">
                    <span class="fa fa-cogs"></span>
                </div>
                <div class="block-title">
                    <h4>How</h4>
                </div>
            </div>
            <div class="column what" onclick="selectReason('what')">
                <div class="circle">
                    <span class="fa fa-info-circle"></span>
                </div>
                <div class="block-title">
                    <h4>What</h4>
                </div>
            </div>
        </div>
        <div class="block-reasons">
            <div class="block-reason why">
                 <div class="text-block">
                    <h4>Why</h4>
                    <p>De wereld om ons heen verandert steeds sneller. Dit geldt ook zeker voor de wereld van tijdelijke arbeid, ook wel flex genoemd. De arbeidsmarkt flexibiliseert in een razend tempo. Er ontstaat gebrek aan talent en technologische ontwikkelingen blijven toenemen. Alle bedrijven erkennen inmiddels dat, om bij te blijven met deze grote veranderingen, je niet meer zonder digitalisering van de bedrijfsprocessen kunt. Hierin geldt dat data “key” is om ook inzicht te krijgen in deze processen. Om te bepalen of je nog de juiste wendbaarheid hebt of dat je juist andere strategische stappen wilt gaan zetten. <br><br>
                    Kortom <strong>“Stretch your flex”</strong></p>
                 </div>
                 <div class="icon-block">
                    <span class="fa fa-question-circle"></span>
                 </div>
                <div class="image-block"></div>
            </div>
            <div class="block-reason how">
                <div class="text-block">
                    <h4>How</h4>
                    <p>Middels “Stretch your flex” gaan we op zoek naar de vraag achter de vraag. Voor welke veranderingen sta je de komende jaren en wat betekent dit voor nu en in de toekomst. We kijken graag samen met jou over de interne grenzen heen, om zo te komen tot een unieke creatieve oplossing die inzicht geeft. Een richting die tevens helpt in het verder maken van strategisch keuzes. <br><br>
                    Zeker voor inhuurprocessen geldt dat er altijd veel stakeholders bij betrokken zijn. Purchasing, HR en de operatie hebben allemaal haar eigen belang. Daarom extra belangrijk om alle partijen mee te nemen in een overall proces en dit met de juiste zorgvuldigheid en vanuit ieders perspectief te managen. Dit doen wij niet alleen. Wij maken hiervoor gebruik van verschillende partijen in de markt om zo te komen tot nuttige oplossingen. </p>
                </div>
                <div class="icon-block">
                    <span class="fa fa-cogs"></span>
                </div>
                <div class="image-block"></div>
            </div>
            <div class="block-reason what">
                <div class="text-block">
                    <h4>What</h4>
                    <p>We bieden verschillende dienstverleningen aan, onderverdeeld in vier oplossingen. <br><br> <a onclick="buttonClick('#solutions')" class="btn-primary">Bekijk ze hier</a></p>
                </div>
                <div class="icon-block">
                    <span class="fa fa-info-circle"></span>
                </div>
                <div class="image-block"></div>
            </div>
        </div>
    </div>
</section>

<div class="banner banner-1">
    <div class="banner-text">
        <h2>Stretch your flex!</h2>
    </div>
</div>

<section id="solutions">
    <div class="container">
        <div class="title-container">
            <h2 class="section-title">Onze dienstverlening</h2>
        </div>
        <div class="solution-blocks">
            <div class="solution-block strategy">
                <h4 class="sol-title"><span class="fa fa-comments"></span> Strategy as a Service</h4>
                <div class="sol-text">
                    <ul>
                        <li>Strategie (CWF strategie) binnen het Total Resource Management</li>
                        <li>Pakketkeuze van VMS systemen</li>
                    </ul>
                </div>
            </div>
            <div class="solution-block insights">
                <h4 class="sol-title"><span class="fa fa-lightbulb"></span> Flex insights as a Service</h4>
                <div class="sol-text">
                    <ul>
                        <li>Data analyse van uw huidige tijdelijke arbeid</li>
                        <li>Dashboards m.b.t. diverse data van uw tijdelijke arbeid</li>
                    </ul>
                </div>
            </div>
            <div class="solution-block solutioning">
                <h4 class="sol-title"><span class="fa fa-puzzle-piece"></span> Solutioning as a Service</h4>
                <div class="sol-text images">
                    <ul>
                        <li><a href="http://www.fieldglass.com/" target="_blank">SAP Fieldglass</a></li>
                        <li><a href="https://www.beeline.com/" target="_blank">Beeline/IQN</a></li>
                        <li><a href="https://www.netive.nl/" target="_blank">Nétive</a></li>
                    </ul>
                </div>
            </div>
            <div class="solution-block management">
                <h4 class="sol-title"><span class="fa fa-users"></span> Management as a Service</h4>
                <div class="sol-text">
                    <ul>
                        <li>Implementatie van een VMS-systeem</li>
                        <li>Verandermanagement</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="banner banner-2"></div>

<section id="three-colums">
    <div class="container">
        <div class="row">
            <div id="technology" class="column column-1">
                <h4 class="column-title">Technologie</h4>
                <div class="column-text">
                    <p>
                        <a href="http://www.fieldglass.com/" target="_blank">SAP Fieldglass</a><br />
                        <a href="https://www.beeline.com/" target="_blank">Beeline/IQN</a><br />
                        <a href="https://www.netive.nl/" target="_blank">Nétive</a>
                    </p>
                </div>
            </div>
            <div id="careers" class="column column-1">
                <h4 class="column-title">Vacatures</h4>
                <div class="column-text">
                    <p>Bekijk al onze vacatures:</p>
                    <a href="http://lakran.com/vacatures/" target="_blank" class="btn-primary entire-width">Vacatures <span class="fa fa-external-link-alt"></span></a>
                </div>
            </div>
            <div id="mailing" class="column column-1">
                <h4 class="column-title">Mailing list</h4>
                <div class="column-text">
                    <p>Schrijf je in voor onze nieuwsbrief!</p>
                   <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="https://lakranvmsservices.us8.list-manage.com/subscribe/post?u=53785b16e31b45f83200436f2&amp;id=4f03c9991a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <div class="indicates-required">Velden met een <span class="asterisk">*</span> zijn vereist</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email <span class="asterisk">*</span>
                            </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">Voornaam</label>
                                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Achternaam</label>
                                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                            </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_53785b16e31b45f83200436f2_4f03c9991a" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" class="btn-primary" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </div>
</section>

