section {
    margin: 96px 0;
    @media (max-width: 480px) {
        margin: 55px 0;
    }
    @media (max-width: 360px) {
        margin: 30px 0;
    }
    .title-container {
        width: 100%;
        text-align: center;
        .section-title {
            border-bottom: 3px solid $contrast;
            padding-bottom: 10px;
            display: inline-block;
            @media (max-width: 600px) {
                font-size: 2rem;
            }
        }
    }
}

#reasons {
    .all-reasons {
        justify-content: space-between;
        .column {
            position: relative;
            cursor: pointer;
            padding: 0;
            &:hover .circle, &:focus .circle, &:active .circle, .circle.active {
                background-color: $primary;
                #profit-icon, #people-icon {
                    .cls-2 {
                        stroke: $primary;
                    }
                }
                #profit-icon {
                    .cls-1 {
                        fill: #cac9c9;
                    }
                    .cls-2 {
                        fill: darken($grey, 30%);
                    }
                }
                #people-icon {
                    .cls-1 {
                        fill: #cac9c9;
                    }
                    .cls-2 {
                        fill: darken($grey, 30%);
                    }
                }
            }
            .circle {
                background-color: $light-grey;
                width: 80%;
                margin: 0 auto;
                border-radius: 50%;
                position: relative;
                transition: background-color 0.8s;
                img, svg {
                    height: 60%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 1s;
                }
                #profit-icon {
                    left: 55%;
                    .cls-1, .cls-2 {
                        fill: $dark-grey;
                    }
                    .cls-2 {
                        stroke: white;
                        stroke-miterlimit: 10;
                        stroke-width: 4px;
                    }
                }
                #people-icon {
                    .cls-1 {
                        fill: $grey;
                    }
                    .cls-2 {
                        fill: $dark-grey;
                        stroke: white;
                        stroke-miterlimit: 10;
                        stroke-width: 5;
                    }
                }
                @media (max-width: 480px) {
                    display: none;
                }
            }
            .block-title {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                background: $primary;
                padding: 10px 0;
                position: relative;
                top: -12%;
                h4 {
                    margin: 0;
                    color: white;
                    @media(max-width: 768px) {
                        font-size: 1.5rem;
                    }
                }
                @media (max-width: 480px) {
                    width: 95%;
                }
            }
            .block-title.active {
                @media(max-width: 480px) {
                    background: $primary-dark;
                }
            }
        }
        .profit .circle, .profit .block-title {
            margin: 0;
        }
        .people .circle, .people .block-title {
            margin: 0 0 0 auto;
        }
    }
    .block-reasons {
        .block-reason {
            display: flex;
            justify-content: space-between;
            position: relative;
            .text-block {
                width: 47%;
                overflow: hidden;
                @media (max-width: 480px) {
                    width: 65%;
                }
                @media (max-width: 360px) {
                    width: 100%;
                }
                h4 {
                    background: $primary;
                    margin: 0;
                    padding: 8px 0;
                    text-align: center;
                    color: white;
                }
                p {
                    background: $light-grey;
                    margin: 0;
                    padding: 20px 55px 20px 20px;
                    height: 100%;
                    @media (max-width: 480px) {
                        padding-right: 30px;
                    }
                    @media (max-width: 360px) {
                        padding-right: 20px;
                    }
                }
            }
            .icon-block {
                width: 15%;
                background: $light-grey;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @media (max-width: 480px) {
                    left: 60%;
                    width: 20%;
                }
                @media (max-width: 360px) {
                    display: none;
                }
                img {
                    height: 60%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .image-block {
                width: 47%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                @media (max-width: 360px) {
                    display: none;
                }
            }
        }
        .profit .image-block {
            background-image: url('https://againtest.azurewebsites.net/public/images/profit.jpg');
        }
        .profit .icon-block img {
            margin-left: 2%;
            @media (max-width: 360px) {
                margin-left: 5%;
            }
        }
        .planet .image-block {
            background-image: url('https://againtest.azurewebsites.net/public/images/planet.jpg');
        }
        .people .image-block {
            background-image: url('https://againtest.azurewebsites.net/public/images/people.jpg');
        }
    }
}

#solutions {
    .solution-blocks {
        display: flex;
        flex-wrap: wrap;
        .solution-block {
            width: 49%;
            margin-left: 1%;
            color: white;
            background:
                linear-gradient(
                    rgba(113, 81, 157, 0.4),
                    rgba(113, 81, 157, 0.4)
                ),
                url('http://localhost:3000/public/images/building-block.jpg')
                no-repeat
                center;
            background-size: cover;
            margin-bottom: 15px;
            &:nth-child(odd) {
                margin-left: 0;
                margin-right: 1%;
            }
            .sol-title {
                border-bottom: 1px solid white;
                text-align: center;
                margin: 0;
                padding: 14px 6px;
            }
            .sol-text {
                padding: 15px;
            }
        }
    }
}

#three-colums {
    .row {
        @media (max-width: 580px) {
            flex-direction: column;
        }
        .column {
            background-color: $light-grey;
            margin-right: 15px;
            padding: 0;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            &:last-child {
                margin-right: 0;
            }
            @media (max-width: 580px) {
                margin-bottom: 20px;
                margin-right: 0;
            }
            .column-title {
                margin: 0;
                padding: 10px;
                text-align: center;
                border-bottom: 4px solid $secondary;
                font-family: $font-xbold;
                @media (max-width: 678px) {
                    font-size: 1.6rem;
                }
            }
            .column-text {
                padding: 0 15px 15px 15px;
                @media (max-width: 678px) {
                    padding: 0 10px 10px 10px;
                }
                .indicates-required {
                    font-size: 0.8rem;
                    margin-bottom: 10px;
                }
            }
        }
    }
}